BOT_TOKEN=changeme
DATABASE_HOST=db
DATABASE_PORT=5544
DATABASE_USER=planner
DATABASE_PASSWORD=planner
DATABASE_NAME=planner
DEFAULT_TZ=Europe/Amsterdam
WEEK_MODE_DEFAULT=combined
MAX_LESSONS_PER_DAY=12
MAX_EXTRAS_PER_DAY=6
HEALTH_PORT=8088
